<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<script src="js/underscore_tempalte_modified.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/user/login.css">
	<link rel="stylesheet" href="css/user/register.css">
</head>
<body>
	<% include header.ejs %>

	<div class="container">
	<div id="login_register"></div>

	<script type="text/template" id="userinfo_moban">
		<div id="userinfo">
			<div>id：{{=id}}</div>
			<div>用户名：{{=name}}</div>
			<div>年龄：{{=age}}</div>
			<div>地址：{{=address}}</div>
		</div>
	</script>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/user/login.js"></script>
	<script src="js/user/register.js"></script>
</body>
</html>