<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<script src="js/underscore_tempalte_modified.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/user/login.css">
	<link rel="stylesheet" href="css/user/register.css">
	<link rel="stylesheet" href="css/user/userlist.css">
	<link rel="stylesheet" href="css/content/content.css">


</head>
<body>
	<% include header.ejs %>

	<div class="container">
		<div id="app"></div>
	</div>
	<footer class="footer  ">
		<div class="container">
			<div id="footer_app"></div>
		</div>
	</footer>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/user/login.js"></script>
	<script src="js/user/register.js"></script>
	<script src="js/user/userlist.js"></script>
	<script src="js/content/content_list.js"></script>
	<script src="js/content/index.js"></script>

</body>
</html>